In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('04-final-trace-2013.csv')

In [3]:
df.shape[0]

2207268

In [6]:
df.head()

   dataid    gen      grid       use  low_lim  upper_lim
0     171 -0.005  0.878267  0.878267      3.4      10.84
1     171 -0.005  0.607600  0.607600      3.4      10.84
2     171 -0.005  0.717600  0.717600      3.4      10.84
3     171 -0.005  0.642333  0.642333      3.4      10.84
4     171 -0.005  0.683000  0.683000      3.4      10.84

In [8]:
df['dataid'][0]

171

In [10]:
df.columns

Index(['dataid', 'gen', 'grid', 'use', 'low_lim', 'upper_lim'], dtype='object')

In [14]:
df.ix[0]

dataid       171.000000
gen           -0.005000
grid           0.878267
use            0.878267
low_lim        3.400000
upper_lim     10.840000
Name: 0, dtype: float64

In [15]:
df['dataid'].head()

0    171
1    171
2    171
3    171
4    171
Name: dataid, dtype: int64

In [16]:
len(df['dataid'])

2207268

In [17]:
df.dataid.head()

0    171
1    171
2    171
3    171
4    171
Name: dataid, dtype: int64

In [18]:
len(df.dataid)

2207268

In [19]:
df.dataid.shape

(2207268,)

In [20]:
pd.__version__

'0.21.1'

In [21]:
type(df.dataid)

pandas.core.series.Series

In [22]:
df.dataid.unique()

array([ 171, 1103, 1283, 1718, 1792,  370, 2072, 2233, 2337, 2470, 2755,
       2818, 2925, 2945, 2980, 2986, 3224, 3456, 3527, 3544, 3635, 3719,
       3723, 3918, 3935, 4193, 4302, 4357, 4447, 4526, 5129,  545,  585,
        744,  861,  890, 5246, 5275, 5357, 5439, 5615, 5738, 5785, 5796,
       5817, 5892, 5972, 6266, 6423, 6643, 6990, 7108, 7731, 7739, 7767,
       7863, 7989, 8084, 8155, 8626, 8829, 9121, 9631])

In [23]:
len(df.dataid.unique())

63

In [24]:
df.dataid.shape[0]/len(df.dataid.unique())

35036.0